@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}
@model ProductCategoryViewModel
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@{
    var culture = CultureInfo.CurrentCulture.Name;
   
}

<div class="features_items" id="body">
    <input type="hidden" id="hidCulture" value="@culture" />
    <input type="hidden" id="categoryId" value="@Model.Category.Id" />
    <!--features_items-->
    <h2 class="title text-center">@Model.Category.Name</h2>
    @for (int i = 0; i < Model.Products.Items.Count; i++)
    {
        var item = Model.Products.Items[i];
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="/@item.ThumbnailImage" alt="@item.Name" />
                        <h2>@item.Price.ToString("#,###", new CultureInfo("vi-vn")) đ</h2>
                        <p>@item.Name</p>
                        <a href="#" class="btn btn-default add-to-cart" data-id="@item.Id" data-culture=" @culture"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                    </div>

                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="/@culture/@_loc["productUrl"]/@item.Id"><i class="fa fa-plus-square"></i>Detail</a></li>
                        <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }

</div><!--features_items-->
<ul class="pagination pagingProduct">
    @for (var i = 1; i <= Model.Products.PageCount; i++)
    {
        if (i == Model.Products.PageIndex)
        {
            <li class="paging-item active" data-page="@i" data-categoryId="@ViewBag.CategoryId" data-key="@ViewBag.KeySearch"><a href="">@i</a></li>

        }
        else
        {
            <li class="paging-item" data-page="@i" data-categoryId="@ViewBag.CategoryId" data-key="@ViewBag.KeySearch"><a href="">@i</a></li>

        }
    }


</ul>