@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "OrderUser";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";

}
@using WebApplicationLogic.Dtos
@model PageResult<WebApplicationLogic.Catalog.Sales.Dto.OrderViewModel>


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Danh sách đơn hàng</h1>
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
           
        </div>
        <div class="card-body">
            <div class="table-responsive cart_info">
                <table class="table table-condensed" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Ngày Order</th>
                            <th>Trạng thái</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Tên</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Ngày Order</th>
                            <th>Trạng thái</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody id="body">
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                @{string status = item.StatusToString(); }
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.ShipName) </td>
                                <td>@Html.DisplayFor(modelItem => item.ShipPhoneNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.ShipEmail)</td>
                                <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                                <td>@Html.DisplayFor(modelItem => status)</td>
                                <td>
                                    |
                                    @Html.ActionLink("Xem đơn hàng", "Details", new { id = item.Id })
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <ul class="pagination pagingBill">
                @for (var i = 1; i <= Model.PageCount; i++)
                {
                    if (i == Model.PageIndex)
                    {
                        <li class="paging-itemBill active" data-page="@i" data-user="@User.Identity.Name"  data-key="@ViewBag.Keyword"><a href="">@i</a></li>

                    }
                    else
                    {
                        <li class="paging-itemBill" data-page="@i" data-user="@User.Identity.Name" data-key="@ViewBag.Keyword"><a href="">@i</a></li>

                    }
                }


            </ul>

        </div>
    </div>

</div>










