@model WebApplicationLogic.Catalog.Users.Dto.UserUpdateRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}
<div class="col-sm-4">
    <div class="signup-form">
        <!--sign up form-->
        <h2>Update Information</h2>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form asp-controller="User" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" /> @Html.ValidationMessageFor(model => model.FirstName)
        <input type="text" asp-for="FirstName" /> @Html.ValidationMessageFor(model => model.FirstName)
        <input type="text" asp-for="LastName" />@Html.ValidationMessageFor(model => model.LastName)
        <input type="date" asp-for="Dob" />@Html.ValidationMessageFor(model => model.LastName)


        <input type="email" asp-for="Email" />@Html.ValidationMessageFor(model => model.Email)
        <input type="text" asp-for="PhoneNumber" />@Html.ValidationMessageFor(model => model.PhoneNumber)

        <button type="submit" class="btn btn-default">Save</button>
    </form>
    </div><!--/sign up form-->
</div>

    

